<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Signup</title>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
	<h1>kodBook! signup page</h1>

	<form action="/signUp" method="post">
		<label>Username: </label> <input type="text" name="username">
		<br>
		<br> <label>Name: </label> <input type="text" name="name">
		<br>
		<br> <label>Email: </label> <input type="email" name="email">
		<br>
		<br> <label>Date of Birth: </label> <input type="date" name="dob">
		<br>
		<br> <label>Gender: </label> <label>Male: </label> <input
			type="radio" name="gender" value="M"> <label>Female:
		</label> <input type="radio" name="gender" value="F"> <label>Other:
		</label> <input type="radio" name="gender" value="O"> <br>
		<br> <label>Password: </label> <input type="password"
			name="password"> <br>
		<br> <a href="/">Already have an account! login instead</a> <br>
		<br> <input type="submit" value="SIGNUP">
	</form>
</body>
</html>